/* featured courses section start */
.featured-course-heading{
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    row-gap: 30px;
    padding: 40px;
  }
  .heading2{
    text-transform: capitalize;
    color: var(--clr-primary-light);
    text-align: center;
    font-weight: bold;
  }
  .underline{
    width: 60px;
    height: 5px;
    background: var(--clr-primary-light);
    justify-self: center;
    margin-bottom: 20px;
    margin-top: 20px;
    
  }
  .featured-course-img-container{
    box-shadow:var(--box-shadow-dark);
    border-radius: var(--radius);
    width: 100%;
    min-height: auto;
    object-fit: cover;
    overflow: hidden;
    
  }
  .featured-course-img-containers{
    aspect-ratio: 350/280;
    object-fit: cover;
    overflow: hidden;
  }
  .featured-img{
    width: 100%;
    height:100%;
    object-fit: cover;
    overflow: hidden;
  }
  .course-discription{
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
  padding: 20px;
    color: var(--clr-black-90);
    cursor: pointer;
    font-size: larger;
  }
  .featured-course-img-container:hover{
    transition: var(--transition);
    transform: translateY(-3px);
  }
  .featured-courses-container{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1ifr;
    row-gap: 40px;
    object-fit: cover;
    
  }
  @media screen and (min-width:769px) {
    .featured-courses-container{
      display: grid;
      justify-content: center;
      align-content: center;
      grid-template-columns: repeat(2,1fr);
      column-gap: 40px;
    }
  }
  @media screen and (min-width:992px) {
    .featured-courses-container{
      display: grid;
      justify-content: center;
      align-content: center;
      grid-template-columns: repeat(3,1fr);
      column-gap: 40px;
    }
  }
  .feature-course-body{
    display: grid;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
  }
  .view-all{
    justify-self: center;
    margin-bottom: 40px;
  }
  
  
  /* featured courses section end */
  